<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Vue.js Pet Depot</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel='stylesheet' type='text/css' media='screen' href='assets/css/app.css' />
</head>
<body>
    <div id="app">
        <header>
            <div class="container">
                <div clacss="row">
                    <h1 v-text="sitename" class="col-12"></h1>
                </div>
            </div>
        </header>
        <div class="container cart" v-show="showProduct">
            <div class="row cart-row">
                <nav class="navbar navbar-expand-lg navbar-light bg-light cart-nav" @click="showCheckout">
                    <div class="navbar-nav">
                        <span v-cloak>{{ cartItemCount }}</span>
                        <svg class="bi bi-cart-check cart-icon" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M11.354 5.646a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L8 8.293l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                            <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                        </svg>
                        Checkout
                    </div>
                </nav>
            </div>
        </div>
        <main>
            <div class="container">
                <div class="row product">
                    <div class="col-12" v-if="showProduct">
                        <div class="row">
                            <div class="col-4">
                                <figure>
                                    <img v-bind:src="product.image">
                                </figure>
                            </div>
                            <div class="col-8 col-expand">
                                <h1 v-text="product.title"></h1>
                                <p v-html="product.description"></p>
                                <p class="price" v-cloak>{{ product.price | formatPrice }}</p>
                                <button type="button" class="btn btn-primary" @click="addToCart" v-if="canAddToCart">Add to cart</button>
                                <button type="button" class="btn btn-primary disabled" v-else="canAddToCart" v-cloak>Add to cart</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12" v-else="showProduct" v-cloak>
                        <div class="row">
                            <div class="col-6 offset-md-3">
                                <label for="firstName">First Name:</label>
                                <input id="firstName" name="firstName" v-model="order.firstName" class="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 offset-md-3">
                                <label for="lastName">Last Name:</label>
                                <input id="lastName" name="lastName" v-model="order.lastName" class="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 offset-md-3">
                                <label for="adress">Adress:</label>
                                <input id="adress" name="adress" v-model="order.adress" class="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 offset-md-3">
                                <label for="city">City:</label>
                                <input id="city" name="city" v-model="order.city" class="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 offset-md-3">
                                <label for="state">State:</label>
                                <select id="state" name="state" v-model="order.state" class="form-control">
                                    <option disabled value="">State</option>
                                    <option v-bind:value="states.AL">AL</option>
                                    <option v-bind:value="states.AR">AR</option>
                                    <option v-bind:value="states.CA">CA</option>
                                    <option v-bind:value="states.NV">NV</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 offset-md-3">
                                <label for="zip">Zip / Postal Code:</label>
                                <input id="zip" name="zip" v-model="order.zip" class="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 offset-md-3">
                                <div class="form-check">
                                    <input type="checkbox" id="gift" value="" name="gift" class="form-check-input"
                                           v-bind:true-value="order.sendGift"
                                           v-bind:false-value="order.dontSendGift"
                                           v-model="order.gift" class="form-control" />
                                    <label for="gift" class="form-check-label">Ship As Gift?</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 offset-md-3">
                                <div class="form-check">
                                    <input type="radio" class="form-check-input" id="home" name="method" value="Home"
                                           v-bind:value="order.home"
                                           v-model="order.method"/>
                                    <label for="home" class="form-check-label">Home</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 offset-md-3">
                                <div class="form-check">
                                    <input type="radio" class="form-check-input" id="business" name="method" value="Buisness"
                                           v-bind:value="order.business"
                                           v-model="order.method"/>
                                    <label for="business" class="form-check-label">Business</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 offset-md-3">
                                <button type="submit" class="btn btn-primary submit" @click="submitForm">Place Order</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <pre v-cloak>
                                    First Name: {{order.firstName}}
                                    Last Name: {{order.lastName}}
                                    Address: {{order.address}}
                                    City: {{order.city}}
                                    Zip: {{order.zip}}
                                    State: {{order.state}}
                                    Method: {{order.method}}
                                    Gift: {{order.gift}}
                                </pre>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
        </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript">
        var webstore = new Vue({
            el: '#app',
            data: {
                sitename: 'Vue.js Pet Depot',
                product: {
                    id: 1001,
                    title: '"The Fat Cat" Cat Backpack - For Larger Cats',
                    description: '"The Fat Cat" cat backpack is our international best-seller! It holds the most weight on the market — over 20 lbs of cat!',
                    price: 10400,
                    image: "assets/images/product-fullsize.png",
                    availableInventory: 5
                },
                cart: [],
                showProduct: true,
                order: {
                    firstName: '',
                    lastName: '',
                    address: '',
                    city: '',
                    zip: '',
                    state: '',
                    gift: 'Send As A Gift',
                    sendGift: 'Send As A Gift',
                    dontSendGift: 'Do Not Send As A Gift',
                    method: 'Home Address',
                    business: 'Business Address',
                    home: 'Home Address'
                },
                states: {
                    AL: 'Alabama',
                    AR: 'Arizona',
                    CA: 'California',
                    NV: 'Nevada'
                }
            },
            filters: {
                formatPrice: function(price) {
                    if (!parseInt(price)) { return "";}
                    if (price > 99999) {
                        var priceString = (price / 100).toFixed(2);
                        var priceArray = priceString.split('').reverse();
                        var index = 3;
                        while (priceArray.length > index + 3) {
                            priceArray.splice(index+3, 0, ",");
                            index += 4;
                        }
                        return "$" + priceArray.reverse().join("");
                    } else {
                        return "$" + (price / 100).toFixed(2);
                    }
                }
            },
            methods: {
                addToCart: function() {
                    this.cart.push( this.product.id );
                },
                showCheckout() {
                    this.showProduct = !this.showProduct;
                },
                submitForm() {
                    alert('Submitted');
                }
            },
            computed: {
                cartItemCount: function () {
                    return this.cart.length || 0;
                },
                canAddToCart: function () {
                    return this.product.availableInventory > this.cartItemCount;
                }
            }
        });
    </script>
</body>
</html>